.container {
  //padding: 0px 80px;
  .list-annonces {
    padding: 20px 27px;

    .btn-add-div {
      .icon-add {
        display: flex;
        justify-content: center;
        svg {
          font-size: 25px;
        }
      }
    }
  }
}